/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');

/* Application des polices */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #4CAF50;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  color: #555;
}